/*css for central elements*/


@font-face
{
	font-family:Purisa;
	src:url('Purisa.ttf');
}

#document
{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	min-height:100%;
	background-image:url('back.png');
	background-size:cover;
	z-index:-99;
}

#frame_container
{
	background:rgba(212,179,134,0.75);
	margin:50px auto 0px;
	width:900px;
	border:solid 10px rgb(152,137,100);
}

#question_frame
{
	background:rgba(212,179,134,0.75);
	margin:50px auto 0px;
	width:700px;
	border:solid 10px rgb(152,137,100);
	display:none;
}

#help_frame
{
	background:rgba(212,179,134,0.75);
	margin:50px auto 0px;
	width:700px;
	border:solid 10px rgb(152,137,100);
	display:none;
	padding:10px;
}

#frame_text
{
	font-family:Purisa;
	margin:20px;
	height:500px;
	overflow-y:auto;
	font-size:20px;
	color:maroon;
}

#rule_text
{
	font-family:Purisa;
	margin:20px;
	font-size:20px;
	color:maroon;
}

#rule_text td,th
{
	padding:10px;
}

#panel
{
}

#logo_image
{
	position:fixed;
	top:10px;
	right:10px;
	width:150px;
}
#book_frame
{
	background:rgba(212,179,134,0.75);
	width:700px;
	position:relative;
	top:100px;
	border:solid 10px rgb(152,137,100);
}

.button
{
	background-image:url('button.png');
	background-size:contain;
	padding:5px 20px;
	font-family:Calibri;
	color:rgb(200,200,200);
	font-size:30px;
}

#book_button
{
	position:relative;
	top:-30px;
}

#book_button a
{
	color:inherit;
	text-decoration:none;
}

#continue_button
{
	border:none;
	background-color:rgb(212,179,134);
	cursor:pointer;
}

input[name="answer"]
{
	font-size:20px;
}

#help
{
	position:fixed;
	left:10px;
	bottom:10px;
}

#help img
{
	width:100px;
	cursor:pointer;
}

#king
{
	position:fixed;
	right:10px;
	bottom:10px;
}

#king img
{
	width:100px;
	cursor:pointer;
}

#map
{
	position:fixed;
	left:10px;
	top:10px;
}

#map img
{
	width:100px;
	cursor:pointer;
}

